spring:
  application:
    name: online-shopping-backend
  
  profiles:
    active: demo
  
  datasource:
    url: jdbc:postgresql://localhost:5432/shopping_db
    username: root
    password: cr7
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: fixkarbyvismit@gmail.com
    password: sedt fick smoa xaki
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=500,expireAfterWrite=600s

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 86400000 # 24 hours in milliseconds

# File Upload Configuration
file:
  upload-dir: ./uploads/products

# Razorpay Configuration
razorpay:
  key-id: rzp_test_fpMndxkVjkItAO
  key-secret: gWsTsxAtqqdAke9ylYbF0SlN

# Rate Limiting Configuration
rate-limit:
  capacity: 100
  refill-tokens: 100
  refill-duration: 60 # seconds

# Swagger Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
